
// main color
$main-grey           : rgb(87, 86, 96);
$main-dark-grey      : rgb(28, 28, 28);
$main-blue           : rgb(2, 130, 249);

// bg color
$bg-header           : rgb(255, 255, 255);
$bg-main             : rgb(28, 28, 28);
$bg-footer           : rgb(172, 43, 39);

// main height
$header-height       : 120px;
$main-height         : 150px; 
$cta-section-height  : 170px;